.footer {
  width: 100%;
  background: #1e1e2f;
  color: white;
  padding: 30px 0;
  margin-top: 40px;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  box-shadow: 0 -2px 5px rgba(0,0,0,0.15);

  flex-wrap: wrap;
}

.footer-section {
  text-align: left;
  min-width: 200px;
  margin: 10px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-link {
  color: #9bbcff;
  text-decoration: none;
  display: block;
  margin: 4px 0;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-bot {
  font-weight: bold;
  color: #2da8ff;
}

.footer-bot:hover {
  text-decoration: underline;
  color: #6bc6ff;
}
